<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <h2>Lista de Tarefas</h2>
        <input type="text" v-model="texto">
        <button @click="tarefas.push(texto)">Inserir</button>
        <ul v-if="!edit">
            <li v-for="item in tarefas":class="{realizada: item.realizada, prioritario:item.prioritario}" @click="realizaTarefa(item)">
            {{ item.nome }} 
            </li>
        </ul>
        <ul v-if="edit">
            <li v-for="item in tarefas" :class="{realizada: item.realizada, prioritario:item.prioritario}" @click="realizaTarefa(item)">
                <input type="text" v-model="item.nome">
                <input type="checkbox" v-model="item.prioritario">
                <input type="checkbox" v-model="item.realizada">
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    texto: '',
                    edit: true,
                    tarefas: [{
                        nome: 'Exercicios de HTML',
                        prioritario: false,
                        realizada: true
                    },  {
                        nome: 'Exercicios de CSS',
                        prioritario: false,
                        realizada: false
                    },  {
                        nome: 'Exercicios de Javascript',
                        prioritario: false,
                        realizada: false
                    },  {
                        nome: 'Exercicios de Vuejs',
                        prioritario: true,
                        realizada: false
                    },  {
                        nome: 'Juntar tudo no Projeto 1',
                        prioritario: false, 
                        realizada: false
                    }, ]
                }
            
        },                          
        methods:{
            realizaTabela: function(item) {
                item.realizada= !item.realizada
            },
            insereTabela: function() {
               if(!!this.novaTarefa) {
                   this.tarefas.push( {
                       nome: this.novaTarefa,
                       prioritario: false,
                       realizada: false
                   })
                   this.novaTarefa = ''
               }
             }
        }
        }).mount('#app')
    </script>
    <style>
        .realizada {
            text-decoration: line-through;
            color: grey;
        }

        .prioritario {
            color: red;
        }
    </style>
</body>
</html>